@{
    ViewData["Title"] = "Home Page";
}

<h2>We going to throw a party</h2>

<p>We are having a party to commemorate... </p>
<a asp-action="Register">Are you comming to the party? Click here to register</a>