@{
    ViewData["Title"] = "Home Page";
}

<h2>We going to throw a party</h2>
<div class="alert alert-warning" role="alert">
    <p>We are having a party to commemorate... </p>
    <a asp-action="Register" class="btn btn-primary">Register</a>
    <a asp-action="GuestList" class="btn btn-info">Guest List</a>
</div>
