@model GuestResponse

@{
    ViewData["Title"] = "Register for the party";
}

<h1>Please give us your information and tell us if you are coming to the party</h1>

<hr />

<form asp-action="Register" method="post">

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" placeholder="Enter your Name"/>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" placeholder="Enter your Email"/>
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" class="form-control" placeholder="Enter your phone number"/>
    </div>

    <div class="form-group">
        <label asp-for="WillAttend"> Will you come to the party?</label>
        <select asp-for="WillAttend" class="form-control">
            <option value="">Choose an option</option>
            <option value="true">Yes, I will attend the party</option>
            <option value="false">No, I am unable to come to the party</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>

</form>

