
@{
    ViewData["Title"] = "ThankYou";
}

<h1>ThankYou</h1>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading"> Thank you!</h4>
    <p>Thank you for registering</p>
    
    <a class="btn btn-primary" type="button"a asp-action="Index">Go Back</a>
</div>

